@tailwind base;

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/main-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-size: 16px;
}

hr {
    border-color: #777;
}

.basic-input {
    border-width: 1px;
    border-color: #777;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
}

.btn {
    background-color: theme('colors.primary');
    border-radius: 10px;
    padding: 8px 20px;
    color: #fff;
    height: fit-content;
}

.btn-secondary {
    background-color: theme('colors.secondary');
}

.proofListItem {
    border-width: 1px;
    border-color: theme('colors.primary');
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}